<%= turbo_frame_tag "cart" do %>
  <% if @cart.orderables.count > 0 %>
    <%= render "cart/orderables" %>
  <% else %>
    <h1 class="mt-5 mb-5">Ваша корзина <b>пуста.   </b><b>!</b></h1>
    <div class="col-md-12 text-center">
      <%= link_to 'Перейти в каталог', products_path, class: 'btn btn-danger btn-lg' %>
    </div>
  <% end %>
<% end %>

