<div class="container mt-3 px-2">
<h1 class="text-center mt-3">Новая подкатегория</h1>
<div class="d-flex justify-content-center">
<%= render "form", type: @type %>

<br>

</div>
</div>
</div>
</div>
<hr>