<div class="container mt-5">
  <div class="col-md-12 text-center">
    <div class="thumb-wrapper">
      <h3><b>Электронная почта: </b><p class="product-price"><%= @user.email %></p></h3>
      <%= link_to '<i class="fas fa-pencil fa-lg"></i>'.html_safe, edit_user_registration_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
