<div class="container mt-3 px-2">
<h1 class="text-center mt-3">Новый продукт</h1>
<div class="d-flex justify-content-center">
<%= render "form", category: @category %>

<br>

</div>
</div>
</div>
</div>
<hr>