<p style="color: green"><%= notice %></p>
<div class="container mt-3 px-2">
<%= render @category %>

<div>
  <%= link_to "Изменить", edit_category_path(@category), class: "btn btn-secondary" %>
  <%= link_to "Все категории", categories_path, class: "btn btn-danger" %>
</div>
</div>